@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { box-sizing: border-box; }
  body {
    @apply bg-slate-100 text-slate-800;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar { height: 6px; width: 6px; }
  .scrollbar-thin::-webkit-scrollbar-track { @apply bg-slate-200 rounded; }
  .scrollbar-thin::-webkit-scrollbar-thumb { @apply bg-slate-400 rounded; }
}
